<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Barbara Hepworth - ABOUT</title>
</head>
<body>
    <nav>
        <ul class="links">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li> 
            <li><a href="work">Work</a></li>
            <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav>
    
        <section id="main">
            <div class="text">
                <h1>About</h1>
                <p>Barbara Hepworth was a British sculptor, who was born in Wakefield, Yorkshire in 1903. She was a leading figure in the international art scene throughout a career spanning five decades.</p>
            </div>
            <img src="/images/hepworth-about.jpg" alt="">
        </section>
</body>
</html>