<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Barbara Hepworth</title>
</head>
<body>
    <nav>
        <ul class="links">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li> 
            <li><a href="work">Work</a></li>
            <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav>
    
        <section id="main">
            <div class="text">
                <h1>Gallery</h1>
                <p>Barbara Hepworth’s name is still intertwined with the history and culture of St Ives and her studio and sculpture Garden remain one of the town’s most popular destinations. In the town where Hepworth was born, as well as housing a rich archive of the artist’s work and serving as a platform for contemporary artists working today, The Hepworth Wakefield also pays lasting homage to an artist who spoke frequently of the effect her surroundings had on her formative years.</p>
            </div>
            <div class="gallery">
                <img src="/images/sculpture-home.jpg" alt="">
                <img src="/images/barbaraworking.jpg" alt="">
                <img src="/images/hepworth-about.jpg" alt="">
                <img src="/images/handsculpture.jpg" alt="">
            </div>
        </section>
</body>
</html>