<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Barbara Hepworth</title>
</head>
<body>
<nav>
    <ul class="links">
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li> 
        <li><a href="work">Work</a></li>
        <li><a href="gallery">Gallery</a></li>
    </ul>
</nav>

    <section id="main">
        <div class="text">
            <h1>Barbara Hepworth</h1>
            <p>Barbara Hepworth was a modernist British sculptor who, over the course of her career, changed her works from simplified naturalistic forms to purely abstract shapes.</p>
        </div>
        <img src="/images/handsculpture.jpg" alt="">
    </section>
    <footer>
        <p>A tribute page by Luciana Albuquerque</p>
    </footer>
</body>
</html>