<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Barbara Hepworth</title>
</head>
<body>
    <nav>
        <ul class="links">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li> 
            <li><a href="work">Work</a></li>
            <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav>
    
        <section id="main">
            <div class="text">
                <h1>Work</h1>
                <p>"Barbara had a way of feeling forms, not with her fingers, but with the palms of her hands."<br>
                    Hepworth is known first and foremost as a sculptor, but she also worked in other mediums – and was very interested in documenting her own work through photography. The landscape around St Ives became part of the way her works were presented in the media; St Ives Bay, Godrevy Lighthouse and The Island all become compositional tools for those documenting her works, creating an additional dialogue between the forms and their surroundings.</p>
            </div>
            <img src="/images/barbaraworking.jpg" alt="">
        </section>
</body>
</html>
